/* .seccond{
    border: none;
    border-radius: 0;
} */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+ES+Deco:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
img{
    border-radius: 50%;
}

:root{
    --background: #ff0;
    --global-font: "Playwrite ES Deco", cursive;
    --h2-font: "Clear Sans";
    --text-font: "Public Sans", sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}